h1 {
  font-family: verdana;
}

P {
  color: orange;
  background-color: lightgrey;
}

section p.Games {
  color: red;
  background-color: grey:
}

#Pets {
  color: yellow;
  background-color: darkgrey;
}
