* {
  background-color: black;
  color: white;
  font-family: helvetica;
  text-align: center;
  border-radius: 20px;
}

h1 {
  font-family: verdana;
  color: white;
}

P {
  background-color: grey;
  padding: 10px 5px;
  border: 7px solid blue;
}

section p.Games {
  background-color: grey;
  padding: 10px 45px;
}

#Pets {
  background-color: grey;
  padding: 10px 85px;
  border: 7px solid blue;
}

ul {
  padding: 10px 125px;
}

dl {
  background-color: grey;
  padding: 10px 125px;
  border: 7px solid blue;
}

dt {
  font-size: 20px;
  background-color: grey;
}

dd {
  font-size: 16px;
  background-color: grey;
}
