* {
  background-color: black;
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-family: verdana;
  color: white;
}

P {
  color: orange;
  background-color: lightgrey;
  padding: 10px 5px;
}

section p.Games {
  color: red;
  background-color: grey;
  padding: 10px 45px;
}

#Pets {
  color: yellow;
  background-color: darkgrey;
  padding: 10px 85px;
}

ul {
  color: white;
  padding: 10px 125px;
}

dl {
  color: lime;
  background-color: darkgrey;
  padding: 10px 125px;
}

dt {
  font-size: 20px;
  background-color: darkgrey;
}

dd {
  font-size: 16px;
  background-color: darkgrey;
}
